/*.App {*/
/*    padding: 30px;*/
/*    display: flex;*/
/*}*/

/*.container {*/
/*    margin-right: 60px;*/
/*}*/

/*.container li button {*/
/*    margin-left: 10px;*/
/*    color: red;*/
/*    padding: 0 4px;*/
/*}*/

/*.warning {*/
/*    color: red;*/
/*    font-size: 40px;*/
/*    border: 1px solid red;*/
/*    padding: 5px;*/
/*}*/

/*.div-filter {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.isDone {*/
/*    font-weight: bold;*/
/*    opacity: 50%;*/
/*    color: red;*/
/*    text-decoration: line-through;*/
/*    list-style: none;*/
/*}*/

/*.btn-active {*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    background-color: red;*/
/*    border: 1px solid black;*/
/*    box-shadow: 0px -2px 22px -4px rgba(0, 0, 0, 0.37);*/
/*}*/

/*.error {*/
/*    border: 2px solid red;*/
/*    outline: none;*/
/*}*/

/*.errorTitle {*/
/*    font-weight: bold;*/
/*    color: red;*/
/*}*/

.warning {
    border: 1px solid red;
    padding: 5px 30px;
    margin-top: 40px;
    margin-left: 25px;
    color: red;
}

.list_empty {
    display: inline-block;
    margin: 20px 0;
    color: red;
}