.div-filter {
    display: flex;
    justify-content: space-around;
}

.warning {
    border: 1px solid red;
    padding: 5px 30px;
    margin-top: 40px;
    margin-left: 25px;
    color: red;
}

.container {
    margin: 0 !important;
    max-width: 100% !important;
    padding: 0 0 0 10px !important;
    position: relative;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root.btn_todolist {
    position: absolute;
    top: -30px;
    right: -17px;
}

.add-todolist {
    margin-bottom: 30px;
}

.list_empty {
    display: inline-block;
    margin: 20px 0;
    color: red;
}